{% extends "root/templets/base/base.html" %}
{% load static %}


{% comment %} titel {% endcomment %}
{% block titel %}
Login page
{% endblock titel %}

{% comment %} custom css {% endcomment %}
  {% block customCss %}
   <link rel="stylesheet" href="{% static 'css/root/login.css' %}"> 
  {% endblock customCss %}


{% comment %} body content {% endcomment %}
{% block content %}
  <div class="form-group w-50 m-auto">
    <form action="" method="POST">
      <h3 class="my-3">Login</h3>
{% csrf_token %}
      {{logindata}}




<button type="submit"  class=" my-4 btn btn-outline-dark">Submit</button>
    </form>  

  </div>
{% endblock content %}